li {
    list-style: none;
    float: left;
}

.blog-header {
    border-bottom: 3px solid red !important;
    width:100% !important;
    height: 7.0rem;
}

.blog-header-logo span {
    font-size: 20px;
}

.fa {
    font-size: 32px !important;
    margin-left: 30px;
}

.fa-twitter {
    color: rgb(0, 174, 255);
}
.fa-instagram {
    color: rgb(150, 7, 245) !important;
}

.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.nav-scroller {
    margin: 15px auto;
    text-align:center;
}

.fa-chevron-down {
    font-size: 5px !important;
}

.top-button li {
    padding: 15px 20px;
    border: 1px solid gray;
    font-size: 15px;
}



header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    transition: 0.3s;
    background-color: rgba(255,255,255,0);
    height: 200px;
}

/* backgroundを透過、高さを200から100pxに変更 */
.is-fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    background-color: rgba(255,255,255,0.9);
    -webkit-transition: all .4s ease 0s background .6s ease .2s;
    transition: all .4s ease 0s, background .6s ease .2s;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: touch;
    height: 100px;
}