
html {
    scroll-behavior: smooth;
}

li {
    list-style: none;
    float: left;
}

/* .blog-header {
    border-bottom: 3px solid red !important;
    width: 100% !important;
    height: 7.0rem;
} */

.blog-header-logo span{
    font-size: 20px;
}

.fa {
    font-size: 32px !important;
    margin-left: 30px;
}

.fa-twitter {
    color: rgb(0, 174, 255);
}
.fa-instagram {
    color: rgb(150, 7, 245) !important;
}

.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.nav-scroller {
    margin: 15px auto;
    text-align: center;
}
  
.nav-scroller {
    margin-top: 3px;
}

.fa-chevron-down {
    font-size: 5px !important;
}

.top-button li{
    padding: 15px 20px;
    border: 1px solid gray;
    font-size: 15px;
}



.top-button li:hover {
    background-color: rgba(128, 128, 128, 0.3)
    transition: 0.5s;
}

.btn-outline-secondary {
    padding: 0 15px;
    margin-right:10px;
    color: white;
}

.css-fukidashi {
    padding: 0;
    margin: 0;
}

.search .btn-outline-secondary{
    position: relative;

}

.fukidashi {
    display:none;
    width:200px;
    position: absolute;
    top:0;
    left:250px;
    padding: 16px;
    border-radius: 5px;
    background: #33cc99;
    color: #fff;
    font-weight:bold;
}

.fukidshi:after {
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    bottom: -19px;
    margin-left: 10px;
    border: solid transparent;
    border-color: rgba(51,204,153,0);
    border-top-color: #33cc99;
    border-width: 10px;
    pointer-events: none;
    content: " ";
}

.search .btn-outline-secondary:hover + fukidashi {
    display: block;
}

.text-dark {
    color: white !important;
}

/* 琉大トップのヘッダー */

.blog-header {
    position: relative;
    z-index: 1000;
    background-color: #00437c;
    height: 10.625rem;
    width: 100% !important;
}

.justify-content-between {
    border-bottom: 3px solid red;
}

.header__navs {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3.0rem !important;
}

.header__navs a {
    color: white;
}

.header__navs-navs {
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    height: 100%;
}

.header__navs-nav:first-child {
    border-left: 0.063rem solid rgba(0, 0, 0, 0.2)
}

.header__navs_link {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background .25s;
    padding: 0 .25rem;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 1,2;
    color: white;
    font-size: 1.125rem;
}


/* トップの画像 */

.jumbotron {
    background-image: url("http://www.ritzcarltonjapan.com/okinawa/common/images/keyvisual/1604/main01.jpg");
    background-size: cover;
    margin-top: 0;
}
.jum_containt {
    background-color: rgba(32, 228, 235, 0.753);
    padding: 0 15px;
}

.p_container {
    padding: 0 15px;
}

.row {
    margin-right: auto !important;
    margin-left: auto !important;
}


.font-italic {
    font-family: "Playfair Display";
}

/*ゼミ活動の画像 */
.blog-post img{
    width: 700px !important;
    height: 400px !important;
}

div .w-100 {
    height: 60%;
}

/* アクセス。お問い合わせの項目↓ */

.access h3{
    border: 1px solid rgba(224, 223, 223, 0.651);
    border-left: 4px solid red;
    background-color: rgba(224, 223, 223, 0.651);
    padding: 10px 10px 10px 20px;
}

.hobun img{
    width: 250px;
    height: 150px;
}

.access p span {
    font-weight: bold;
}

table {
    border-top: 1px solid #ccc;
    margin: 10px -1px 24px 0;
    text-align: left;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 85.7%;
    line-height: 141.7%;
}

td, th {
    text-align: center;
}

table, td, th {
    border: 1px solid black;
}

#map h3 {
    float: left;
}

#map iframe {
    /* margin-left: 30px; */
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

/* お問い合わせ */
.contact-container {
    padding-left:20px;
}

.contact-form h3{
    border: 1px solid rgba(224, 223, 223, 0.651);
    border-left: 4px solid red;
    background-color: rgba(224, 223, 223, 0.651);
    padding: 10px 10px 10px 20px;
}

.contact-form p {
    margin-top: 1rem !important;
    margin-bottom: 0 !important;
}

.btn-primary {
    border-radius: 5px;
    border-color: rgba(0, 195, 255, 0.911);
    background-color: rgba(0, 195, 255, 0.911);
}

.need {
    color: red;
}

input {
    border: 1.5px solid rgba(128, 128, 128, 0.315);
    width: 60%;
}

textarea {
    width:60%;
    height: 80px;
}

